.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img {
  margin-top: 150px;
  border-radius: 50%;
  height: 350px;
  width: 360px;
}

.head{
  text-align: center;
  width: 70%;
  font-size: 50px;
  font-weight: 600;
}

.head {
  
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
}

.hero-resume {
  padding: 25px 75px;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
}

.hero-connect:hover {
  border: 2px solid white;
}

.hero-resume:hover {
  border-color: #b415ff;
}

@media (max-width: 768px) {
  .hero img {
    margin-top: 120px;
    height: 250px ;
    width:250px;
    
  }

  .head{
    margin-top: 20px;
    width: 90%;
    font-size: 30px;
  }

  .hero p {
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .hero-connect {
    padding: 20px 30px;
    border-radius: 40px;
  }

  .hero-resume {
    padding: 20px 50px;
    border-radius: 40px;
  }
}
