.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 150px 170px;
}

.mywork-tittle {
  position: relative;
}

.mywork-tittle h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.mywork-tittle img {
  position: absolute;

  bottom: -30px;
  right: 0;
  z-index: -1;
  height: 150px;
  width: 200px;
}

.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.mywork-container img {
  width: 419px;
  height: 280px;
  box-sizing: border-box;
  transition: 0.3s;
  cursor: pointer;
}

.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    transition: 0.6s;
    cursor: pointer;
}

.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}

@media(max-width:768px){
  .mywork{
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }

  .mywork-tittle h1{
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }

  .mywork-tittle img{
    display: none;
  }

  .mywork-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .mywork-container img{
    width: 100%;
    height: 100%;
  }

  .mywork-showmore{
    padding: 20px 40px;
    font-size: 18px;
    margin: 50px auto;
    cursor: pointer;
  }
}